<div class="container">
  <h2>Lone Mountain Shores Firewise Status</h2>
  <div class="d-flex flex-column align-items-center" *ngIf="currentEntry">
    <fa-icon [icon]="['fas', 'circle']" [ngStyle]="{'color': currentColor}" size="9x"></fa-icon>
    <h3>
      {{currentEntry.level | firewiseLevel }}
    </h3>
    <ng-container [ngSwitch]="currentEntry.level">
      <p *ngSwitchCase="1">
        Fire starts are unlikely. Weather and fuel conditions will lead to slow
        fire spread, low intensity and relatively easy control with light mop-up.
        Controlled burns can usually be executed with reasonable safety.
      </p>
      <p *ngSwitchCase="2">
        Some wildfires may be expected. Expect moderate flame length and
        rate of spread. Control is usually not difficult and light to
        moderate mop-up can be expected. Although controlled burning
        can be done without creating a hazard, routine caution should be taken.
      </p>
      <p *ngSwitchCase="3">
        Wildfires are likely. Fires in heavy, continuous fuel such as mature
        grassland, weed fields and forest litter, will be difficult to control
        under windy conditions. Control through direct attack may be difficult
        but possible and mop-up will be required. Outdoor burning should be
        restricted to early morning and late evening hours.
      </p>
      <p *ngSwitchCase="4">
        Fires start easily from all causes and may spread faster than suppression
        resources can travel. Flame lengths will be long with high intensity,
        making control very difficult. Both suppression and mop-up will require
        an extended and very thorough effort. Outdoor burning is not recommended.
      </p>
      <p *ngSwitchCase="5">
        Fires will start and spread rapidly. Every fire start has the potential
        to become large. Expect extreme, erratic fire behavior. NO OUTDOOR
        BURNING SHOULD TAKE PLACE IN AREAS WITH EXTREME FIRE DANGER.
      </p>
    </ng-container>
  </div>
  <div>
    <h3>Firewise History</h3>
    <mat-table [dataSource]="pastFirewiseEntries" class="mat-elevation-z2">
      <!-- Position Column -->
      <ng-container matColumnDef="level">
        <mat-header-cell *matHeaderCellDef>Level</mat-header-cell>
        <mat-cell *matCellDef="let entry"> {{entry.level | firewiseLevel}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
        <mat-cell *matCellDef="let entry"> {{entry.date | date: 'M/d/y'}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator class="mat-elevation-z2" [length]="pastFirewiseEntries.data.length" [pageSize]="20"></mat-paginator>
  </div>
</div>
