.mat-raised-button {
  color: white;
}

.preview-image-wrapper {
  position: relative;

  .preview-image {
    margin-right: 15px;
    height: 100px;
    width: auto;
  }

  .close-icon {
    position: absolute;
    color: black;
    cursor: pointer;
    right: 10px;
    top: -10px;
    height: 20px;
  }
}
