<div class="col-lg-12">
  <div class="row">
    <mat-form-field class="col-lg-8 col-sm-12">
      <mat-select placeholder="Listing Type" [formControl]="type">
        <mat-option value="">- - -</mat-option>
        <mat-option value="realestate">Real Estate</mat-option>
        <mat-option value="marketplace">Marketplace</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-lg-8 col-sm-12">
      <input matInput placeholder="Listing Title" [formControl]="title"/>
      <mat-hint align="end">{{title.value.length}} / 140</mat-hint>
      <mat-error *ngIf="title.hasError('required')">
        You must include a title
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-lg-12">
      <textarea matInput placeholder="Listing Description" [formControl]="description" rows="10"></textarea>
      <mat-hint>You can resize this field if you need more room on the bottom right</mat-hint>
      <mat-error *ngIf="description.hasError('required')">
        You must include a description for your listing
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-lg-6 col-sm-12">
      <input matInput placeholder="Price" type="number" min="0" [formControl]="price"/>
      <span matPrefix>$&nbsp;</span>
      <mat-error *ngIf="description.hasError('required')">
        You must include a price for your listing
      </mat-error>
      <mat-error *ngIf="description.hasError('min')">
        You must have a price greater than zero
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-lg-6 col-sm-12" *ngIf="type.value === 'realestate'">
      <input matInput placeholder="Lot Number" type="number" min="0" [formControl]="lot_number"/>
    </mat-form-field>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12">
      <button mat-raised-button color="primary" (click)="fileUploadInput.click()">Upload Files</button>
      <input hidden type="file" multiple #fileUploadInput (change)="getAttachments()"/>
    </div>
  </div>
  <div class="row mb-3 col-lg-12">
    <div class="preview-image-wrapper" *ngFor="let url of attachmentUrls; let index = index;">
      <img [src]="url" class="preview-image"/>
      <fa-layers [fixedWidth]="true" class="close-icon" (click)="removeFile(index)">
        <fa-icon [icon]="['fas', 'circle']" style="color: white"></fa-icon>
        <fa-icon [icon]="['fas', 'times-circle']"></fa-icon>
      </fa-layers>
    </div>
  </div>
  <div class="row col-lg-6 col-sm-12 align-items-center">
    <mat-checkbox [formControl]="public" color="primary">Public</mat-checkbox>
    <fa-icon
      [icon]="['fas', 'question-circle']"
      class="ml-2"
      matTooltip="Whether the listing is public to the internet or not"
      style="color: #0CADFF;"
    ></fa-icon>
  </div>
  <div class="row col-lg-12 mt-3">
    <button mat-raised-button color="warn" (click)="cancel()" class="mr-2">Cancel</button>
    <button mat-raised-button color="primary" (click)="submit()">Create Listing</button>
  </div>
</div>
