<h3 mat-dialog-title>
  {{!isEditing ? 'Create Event' : 'Edit Event'}}
</h3>
<mat-dialog-content>
  <app-create-event-form [event]="event" (cancelled)="closeDialog()" (submitted)="closeAndUpdate($event)"></app-create-event-form>
</mat-dialog-content>
