<div class="row justify-content-center align-items-center">
  <div class="mt-5 col-lg-4 col-sm-8 col-xs-12">
    <mat-card>
      <mat-card-content>
        <div class="row col-lg-8">
          <mat-form-field>
            <input matInput placeholder="Username" [formControl]="username" />
          </mat-form-field>
        </div>
        <div class="row col-lg-8">
          <mat-form-field>
            <input matInput placeholder="Password" type="password" [formControl]="password" />
          </mat-form-field>
        </div>
        <div class="row row col-lg-8" *ngIf="loginError">
          <p style="color: red;">
            Invalid login credentials
          </p>
        </div>
        <div class="container row col-lg-8">
          <button mat-raised-button color="primary" (click)="login()">Login</button>
        </div>
      </mat-card-content>
      <mat-card-footer >
        <div class="container col-lg-12">
          <p><a [routerLink]="['/password-reset']">Forgot password?</a></p>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
