<div class="container p-2">
  <app-message-create-edit-form 
    *ngIf="post"
    [post]="post"
    (submitted)="goToMessageDetails($event)"
    (cancelled)="goToMessageList()"
  ></app-message-create-edit-form>
</div>