<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h3>Current Due Payment Cycle: March 2019</h3></mat-card-title>
      <mat-card-subtitle>
        Current Cycle Payment Status:
        <fa-icon [icon]="['fas', 'circle']" [ngStyle]="{'color': 'red'}"></fa-icon>
        Not Paid
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="primary">Pay Dues</button>
    </mat-card-content>
  </mat-card>
  <h3>Past Due Payments</h3>
  <mat-table [dataSource]="duesDatasource" class="mat-elevation-z4">
    <ng-container matColumnDef="month">
      <mat-header-cell *matHeaderCellDef> Due Month </mat-header-cell>
      <mat-cell *matCellDef="let payment"> {{payment.month}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="paidDate">
      <mat-header-cell *matHeaderCellDef> Date Paid </mat-header-cell>
      <mat-cell *matCellDef="let payment"> {{payment.date_paid}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Due Payment Status </mat-header-cell>
      <mat-cell *matCellDef="let payment">
        {{payment.status}}
        <fa-icon [icon]="['fas', 'circle']" [ngStyle]="{'color': getStatusColor(payment.status), 'margin-left': '5px'}"></fa-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator class="mat-elevation-z4" [pageSize]="12" [length]="4"></mat-paginator>
</div>
