<mat-toolbar color="primary">
  <img src="/assets/main-logo.png" height="55" class="navbar-brand" routerLink="/"/>
  <ng-container *ngIf="!isMobile">
    <button mat-button *ngIf="isAdmin" [routerLink]="['/dashboard']">Dashboard</button>
    <button mat-button [routerLink]="['/classifieds/list']">Classifieds</button>
    <ng-container *ngIf="isLoggedIn">
      <button mat-button [routerLink]="['/addressbook']">Address Book</button>
      <button mat-button [routerLink]="['/messages/list']">Message Board</button>
      <button mat-button [routerLink]="['/calendar']">Calendar</button>
      <button mat-button [routerLink]="['/firewise']">Firewise</button>
    </ng-container>
  </ng-container>
  <span class="spacer"></span>
  <ng-container *ngIf="isMobile">
    <button mat-icon-button [matMenuTriggerFor]="mobileNavMenu"><mat-icon>menu</mat-icon></button>
    <mat-menu #mobileNavMenu="matMenu">
      <button mat-button *ngIf="isAdmin" [routerLink]="['/dashboard']">Dashboard</button>
      <button mat-menu-item [routerLink]="['/classifieds/list']">Classifieds</button>
      <ng-container *ngIf="isLoggedIn">
        <button mat-menu-item [routerLink]="['/addressbook']">Address Book</button>
        <button mat-menu-item [routerLink]="['/messages/list']">Message Board</button>
        <button mat-menu-item [routerLink]="['/calendar']">Calendar</button>
        <button mat-menu-item [routerLink]="['/firewise']">Firewise</button>
      </ng-container>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="mobileProfileMenu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #mobileProfileMenu="matMenu">
      <ng-container *ngIf="!isLoggedIn">
        <button mat-menu-item [routerLink]="['/login']">Login</button>
        <button mat-menu-item [routerLink]="['/register']">Register</button>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <button mat-menu-item [routerLink]="['/profile']">Edit Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </ng-container>
    </mat-menu>
  </ng-container>
  <ng-container *ngIf="!isMobile">
    <ng-container *ngIf="!isLoggedIn">
      <button mat-button [routerLink]="['/login']">Login</button>
      <button mat-button [routerLink]="['/register']">Register</button>
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
      <button mat-button [matMenuTriggerFor]="profileMenu">Welcome, {{username}} <mat-icon>keyboard_arrow_down</mat-icon></button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item [routerLink]="['/profile']">Edit Profile</button>
        <button mat-menu-item [routerLink]="['/dues']">Association Dues</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </ng-container>
  </ng-container>
</mat-toolbar>
