.spacer {
  flex: 1 1 auto;
}

.mat-button {
  color: white;
}

.mat-icon-button {
  color: white;
}

.navbar-brand {
  margin-right: 10px;
}

@media only screen and (max-width: 576px) {
  .navbar-brand {
    height: 35px;
  }
}
