<div class="row">
  <div class="col-md-6 col-sm-12">
    <mat-form-field>
      <input matInput placeholder="Title" [formControl]="title">
      <mat-error *ngIf="title.hasError('required')">
        You must give your message board post a title
      </mat-error>
    </mat-form-field>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-12">
    <mat-form-field>
      <textarea matInput placeholder="Body of Message Board Post" [formControl]="body"></textarea>
      <mat-error *ngIf="body.hasError('required')">
        You must give your message board post some content
      </mat-error>
    </mat-form-field>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-12" *ngIf="isSuperuser">
    <mat-checkbox [formControl]="pinned" color="primary">Pin to top of message board</mat-checkbox>
  </div>
  <div class="col-md-12 p-2" *ngIf="form.hasError('nothingChanged')">
    <p>You must change something before submitting!</p>
  </div>
</div>
<div class="row justify-content-end align-items-center">
  <button mat-raised-button color="warn" (click)="cancelMessage()">Cancel</button>
  <button mat-raised-button color="primary" (click)="submit()">Submit</button>
</div>
