<div class="container">
  <h1>Terms of Service</h1>
  <h3>1. ACCEPTANCE OF TERMS</h3>
  <p>
    Welcome to the Lone Mountain Shores resident web site also referred to as "LMSOA.org." The
    following are the current Terms of Service ("TOS"), which may be updated by us from time to time
    without notice to you. You can always review the most current version of the TOS at any time in
    the "Documents" section of the web site.
  </p>
  <h3>2. MEMBER ACCOUNT, PASSWORD AND SECURITY</h3>
  <p>
    You are solely responsible for maintaining the confidentiality of your password and account, and
    are fully responsible for all activities that occur under your password or account. You agree to
    immediately notify the lmsoa.org web administrator of any unauthorized use of your password or
    account or any other breach of security
  </p>
  <h3>3. MEMBER CONDUCT</h3>
  <ol type="A">
    <li>
      We do not accept users attacking each other in any way. This means no posts that threaten,
      make fun of, or attack others. These posts will be removed. Also, we expect posts to be clean
      with no foul language or links to offensive sites.
    </li>
    <li>
      Please do not post copyrighted materials on this site. If you copy and paste copyrighted
      material, it will be deleted. In addition, no material found on this site may be printed, published, or
      otherwise used without the written permission of Lone Mountain Shores Homeowners
      Association, the owner of this site.
    </li>
    <li>
      Any attempt by anyone entering this site to harvest e-mail and/or other information about our
      subscribers, affiliates or visitors is prohibited and will be dealt with to the fullest extent of the law.
    </li>
    <li>
      Graphics, pictures, or banners are not allowed in any posts or signatures and will be deleted
      by our Administrators without notice. Pictures may be included in your Profile.
    </li>
    <li>
      Don't post commercial advertising messages or solicitations in message boards or during live
      chats. Any URL containing a referral code or referral address will be edited or deleted at the
      discretion of the Administrators. These are considered advertising. Listing of any URL in a
      signature is limited to only "home pages" that include no advertising or referral. Links to
      businesses or pages with advertising are prohibited in signatures. No "blind or hidden" referral
      links are allowed.
    </li>
    <li>
      The residents of the Subdivision of Lone Mountain Shores, by and through their contracting
      authority, and pursuant to the provisions of Titles 39 and 47 of the United States Code and
      applicable Tennessee Laws, as amended from time to time, hereby place the reader and user of
      this web site on legal notice that the resident information contained herein may not be disclosed,
      disseminated, or used in any manner whatsoever, including, but not limited to purposes of
      solicitation of products or services by mail, telephone, or otherwise, without the express, advance
      written permission of the individual resident.
    </li>
    <li>
      Any conduct by you that in our discretion restricts or inhibits the use of this site by any other
      subscriber or visitor will not be tolerated. We reserve the right to pursue any and all legal and
      equitable remedies against you, including the posting of your address and the reporting of your
      activity to our partners, your Internet Service Provider (ISP), and other authorities.
      Any material in any post that we determine to be disruptive, argumentative, or not suitable for our
      forum may be edited or deleted at the discretion of our Moderators or Administrators. An email
      will be sent to any member who has a post deleted for any reason. The notice will be sent to the
      address displayed in the member's Resident Profile. The Resident Profile email address is a
      member's responsibility. If an entire thread is deleted only the member who posted the original
      message will be notified.
    </li>
  </ol>
  <p>
    If we should fail to enforce any right or provision in these terms and conditions, you agree that
    this failure does not constitute a waiver of such right or provision.
    If you are aware of any violations of these terms and conditions please report them to:
    webadmin@lmsoa.org
  </p>
  <h3>4. MEMBER RESPONSIBILITIES</h3>
  <p>
    You agree to not use the web site to:
  </p>
  <ol type="A">
    <li>
      Transmit any Content that is unlawful, harmful, threatening, abusive, harassing, tortuous,
      defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically
      or otherwise objectionable;
    </li>
    <li>
      Harm minors in any way;
    </li>
    <li>
      Transmit any Content that you do not have a right to transmit under any law or under
      contractual or fiduciary relationships (such as inside information, proprietary and confidential
      information learned or disclosed as part of employment relationships or under nondisclosure
      agreements);
    </li>
    <li>
      Transmit any Content that infringes any patent, trademark, trade secret, copyright or other
      proprietary rights ("Rights") of any party;
    </li>
    <li>
      Transmit any unsolicited or unauthorized advertising, promotional materials, "junk mail,"
      "spam," "chain letters," "pyramid schemes," or any other form of solicitation;
    </li>
    <li>
      Intentionally or unintentionally violate any applicable local, state, or national law;
    </li>
    <li>
      "Stalk" or otherwise harass another; or
    </li>
    <li>
      Collect, store or use personal data about other users or neighbors.
    </li>
  </ol>
  <h3>5. INDEMNITY</h3>
  <p>
    You agree to indemnify and hold the Lone Mountain Shores Homeowner’s Association, and its
    subsidiaries, committee volunteers, affiliates, officers, agents, or other partners, and employees,
    harmless from any claim or demand, including reasonable attorneys' fees, made by any third
    party due to or arising out of Content you submit, post to or transmit through the lmsoa.org web
    site, your use of the web site, your violation of the TOS, or your violation of any rights of another.
  </p>
  <h3>6. TERMINATION</h3>
  <p>
    You agree that the Lone Mountain Shores Homeowner's Association or members of the
    lmsoa.org web team, at its sole discretion, may terminate your password, account (or any part
    thereof) or use of the web site, and remove and discard any Content within the web site, for any
    reason. The Lone Mountain Shores Homeowner's Association or members of the lmsoa.org web
    team may at its sole discretion and at any time discontinue providing the lmsoa.org web site, or
    any part thereof, with or without notice. You agree that any termination of your access to the web
    site under any provision of this TOS may be effected without prior notice, and acknowledge and
    agree that the web administrator may immediately deactivate or delete your account and all
    related information and files in your account. Further, you agree that the Lone Mountain Shores
    Homeowner's association or members of the lmsoa.org web team shall not be liable to you or any
    third party for any termination of your access to the web site.
  </p>
  <h3>7. DEALINGS WITH ADVERTISERS</h3>
  <p>
    Your correspondence or business dealings with, or participation in promotions of, advertisers
    found on or through the Service, including payment and delivery of related goods or services, and
    any other terms, conditions, warranties or representations associated with such dealings, are
    solely between you and such advertiser. You agree that the Lone Mountain Shores Homeowner's
    Association or members of the lmsoa.org web team shall not be responsible or liable for any loss
    or damage of any sort incurred as the result of any such dealings or as the result of the presence
    of such advertisers on the web site.
  </p>
  <h3>8. LINKS</h3>
  <p>
    The lmsoa.org web site may provide links to other World Wide Web sites or resources. Because
    the Lone Mountain Shores Homeowners Association or members of the lmsoa.org web team has
    no control over such sites and resources, you acknowledge and agree the Lone Mountain Shores
    Homeowners Association or members of the lmsoa.org web team are not responsible for the
    availability of such external sites or resources, and does not endorse and is not responsible or
    liable for any content, advertising, products, or other materials on or available from such sites or
    resources. You further acknowledge and agree that the Lone Mountain Shores Homeowners
    Association shall not be responsible or liable, directly or indirectly, for any damage or loss caused
    or alleged to be caused by or in connection with use of or reliance on any such Content, goods or
    services available on or through any such site or resource.
  </p>
  <h3>9. DISCLAIMER OF WARRANTIES</h3>
  <p>
    By logging on to the lmsoa.org web site you expressly understand and agree that:
  </p>
  <ol type="a">
    <li>
      Your use of the lmsoa.org web site is at your sole risk. The service is provided on an "as is"
      and "as available" basis. lmsoa.org expressly disclaims all warranties of any kind, whether
      express or implied, including, but not limited to the implied warranties of merchantability, fitness
      for a particular purpose and non-infringement.
    </li>
  </ol>
  <h3>10. NOTICE</h3>
  <p>
    Notices to you may be made via either email or regular mail. The web site may also provide
    notices of changes to the TOS or other matters by displaying notices or links to notices to you
    generally on the web site.

    If you violate any of the Policies listed in the Terms of Service or as listed in other areas of this
    site your email address may be posted as a policy violator and your membership may be revoked
    without notice.
    The Lone Mountain Shores Homeowners Association, the Lone Mountain Shores Board of
    Directors, AtHomeNet, or members of the lmsoa.org web team are not liable for the content of
    any posts. We only review them for foul language, referral links, and other items covered in these
    policies. We do not verify or endorse as true any information posted by a member.
  </p>
  <h3>11. HEADINGS</h3>
  <p>
    All headings and subheading employed within this TOS are inserted only for convenience and
    reference only. Headings are not to be considered in the interpretation of any provision of this
    TOS.
  </p>
  <h3>12. INVALIDITY OF A PARAGRAPH</h3>
  <p>
    If any section, sentence, or paragraph of this TOS is found to be invalid, void or unenforceable,
    the remainder of the TOS will continue in force.
  </p>
</div>
