<div class="container p-2">
  <mat-form-field>
    <input matInput placeholder="Search Address Book" [formControl]="filterControl">
  </mat-form-field>
  <div class="shadowed mt-1">
    <mat-table [dataSource]="addressBookDataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let owner"> {{owner.first_name}} {{owner.last_name}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="lot">
        <mat-header-cell *matHeaderCellDef> Lot # </mat-header-cell>
        <mat-cell *matCellDef="let owner"> {{owner.lot_number}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="cell">
        <mat-header-cell *matHeaderCellDef> Cell # </mat-header-cell>
        <mat-cell *matCellDef="let owner">
          <span *ngIf="owner.cell_phone !== 'hidden'">{{owner.cell_phone | mask: '(000) 000-0000'}}</span>
          <span *ngIf="owner.cell_phone === 'hidden'">hidden</span>
        </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="home">
        <mat-header-cell *matHeaderCellDef> Home # </mat-header-cell>
        <mat-cell *matCellDef="let owner">
          <span *ngIf="owner.home_phone !== 'hidden'">{{owner.home_phone | mask: '(000) 000-0000'}}</span>
          <span *ngIf="owner.home_phone === 'hidden'">hidden</span>
        </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
        <mat-cell *matCellDef="let owner"> {{owner.address}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSize]="25"></mat-paginator>
  </div>
</div>
