<mat-card class="message-board-post" [ngStyle]="{'height': restrictHeight ? '225px': null}">
  <mat-card-content class="m-0">
    <div class="row col-12">
      <div class="col-md-2 col-sm-4">
        <ng-container *ngIf="message.author.avatar">
          <img src="{{message.author.avatar}}" class="avatar-photo d-none d-sm-block"/>
        </ng-container>
        <ng-container *ngIf="!message.author.avatar">
          <img src="/assets/avatar-placeholder.png" class="avatar-photo d-none d-sm-block"/>
        </ng-container>
        <p>{{message.author.first_name}} {{message.author.last_name}}</p>
      </div>
      <div class="col-md-10 col-sm-8">
        <h3>{{message.title}}</h3>
        <p [ngClass]="{'message-body': restrictHeight}" style="white-space: pre-wrap;">{{message.body}}</p>
      </div>
    </div>
    <div class="row col-12">
      <fa-icon
        [icon]="['fas', 'thumbtack']"
        *ngIf="message.pinned"
        style="color: green;"
        class="ml-2"
        matTooltip="Message is pinned to top of message board"
      ></fa-icon>
    </div>
  </mat-card-content>
  <mat-card-actions class="pl-3" *ngIf="showButtons">
    <button mat-raised-button color="primary" [routerLink]="['/messages', message.id]" *ngIf="showCommentButton">View Comments</button>
    <ng-container *ngIf="isAuthor">
      <button mat-raised-button color="primary" [routerLink]="['/messages', message.id, 'edit']">Edit</button>
      <button mat-raised-button color="warn" (click)="delete()">Delete</button>
    </ng-container>
  </mat-card-actions>
</mat-card>
