<div class="row justify-content-center align-items-center">
  <mat-card>
    <mat-card-content>
      <mat-vertical-stepper>
        <mat-step [label]="'Basic Info'">
          <div class="container">
            <mat-form-field class="col-lg-8 col-md-12">
              <input matInput placeholder="Username" [formControl]="username"/>
              <mat-error *ngIf="username.hasError('required')">
                You must create a username
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-8 col-md-12">
              <input matInput type='password' placeholder="Password" [formControl]="password"/>
              <mat-error *ngIf="password.hasError('required')">
                You must provide a password for your account
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-8 col-md-12">
              <input matInput type='password' placeholder="Confirm Password" [formControl]="confirm_password"/>
              <mat-error *ngIf="confirm_password.hasError('samePassword')">
                This field must be the same as the password field
              </mat-error>
              <mat-error *ngIf="confirm_password.hasError('required')">
                You must confirm your password
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-8 col-md-12">
              <input matInput placeholder="First name" [formControl]="first_name"/>
              <mat-error *ngIf="first_name.hasError('required')">
                You must provide a first name
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-8 col-md-12">
              <input matInput placeholder="Last name" [formControl]="last_name"/>
              <mat-error *ngIf="last_name.hasError('required')">
                You must provide a last name
              </mat-error>
            </mat-form-field>
          </div>
        </mat-step>
        <mat-step label="Contact Info">
          <div class="container">
            <mat-form-field class="col-lg-8 col-md-12">
              <input matInput placeholder="Email" [formControl]="email"/>
              <mat-error *ngIf="email.hasError('required')">
                You must provide an email
              </mat-error>
              <mat-error *ngIf="email.hasError('email')">
                You must provide a valid email address
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-8 col-md-12">
              <input matInput placeholder="Cell Phone #" [formControl]="cell_phone" mask="(000) 000-0000"/>
              <mat-error *ngIf="cell_phone.hasError('minlength')">
                Cell phone number not long enough
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-8 col-md-12">
              <input matInput placeholder="Home Phone #" [formControl]="home_phone" mask="(000) 000-0000"/>
              <mat-error *ngIf="home_phone.hasError('minlength')">
                Home phone number not long enough
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-8 col-md-12">
              <input matInput placeholder="Residential Address" [formControl]="address"/>
            </mat-form-field>
            <div class="col-lg-8 col-md-12">
              <mat-checkbox color="primary">Hide contact info from community address book</mat-checkbox>
            </div>
          </div>
        </mat-step>
        <mat-step label="Miscellaneous">
          <div class="container">
            <mat-form-field class="col-lg-8 col-md-12">
              <input matInput placeholder="Avatar"/>
            </mat-form-field>
            <div class="col-lg-8 col-md-12">
              <mat-checkbox color="primary">Accept LMSOA's <a [routerLink]="['/tos']" target="_blank">Terms of Service</a></mat-checkbox>
            </div>
            <div class="col-lg-8 col-md-12 mt-2">
              <button mat-raised-button color="primary" (click)="register()">Register</button>
            </div>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>
</div>
