<div class="row">
  <div class="container">
    <h3>Bulk Owner Create</h3>
    <p>
        How does this work?
    </p>
    <input hidden #csvField type="file" (change)="prepareFile($event)"/>
    <button mat-raised-button color="primary" (click)="csvField.click()">Upload</button>
    <button mat-raised-button color="primary" (click)="submitCsv()">Submit</button>
  </div>
</div>
