<h1 mat-dialog-title>{{header}}</h1>
<div mat-dialog-content>
  <p>
    {{body}}
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="denyDelete()">Cancel</button>
  <button mat-button (click)="confirmDelete()">Delete</button>
</div>
