.event {
  margin-bottom: 10px;
}

.mat-card-content {
  margin: 0 16px;
}

.half-width {
  width: 49%;
  margin-right: 1%;
  &:last-child {
    margin-left: 1%;
    margin-right: 0;
    width: 49%
  }

}
