<mat-card class="event">
  <mat-card-header>
    <mat-card-title>
      {{calendarEvent.title}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row col-lg-12">
      <p>
        {{calendarEvent.description}}
      </p>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div>
          <p matLine>
            Start Date:
          </p>
          <p matLine>
            {{calendarEvent.start | date: 'medium'}}
          </p>
        </div>
        <div>
          <p matLine>
            End Date:
          </p>
          <p matLine>
            {{calendarEvent.end | date: 'medium'}}
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <p matLine>
          Repeats:
        </p>
        <p matLine>
          {{calendarEvent.frequency | frequency}}
        </p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end" *ngIf="canEdit">
    <ng-container>
      <button mat-raised-button color="primary" class="col-lg-12" (click)="editEvent()">Edit</button>
    </ng-container>
  </mat-card-actions>
</mat-card>
