<div class="row first-picture">
    <img src="assets/fallcolorstrees.jpg" class="homepage-image"/>
    <div class="title-box">
        <h2 class="title" align="center">Lone Mountain Shores</h2>
        <p class="subtitle" align="center">A Friendly Community You Can Call Home</p>
    </div>
</div>
<div class="row mt-3 mb-3 p-2">
  <div class="col-md-6 col-xs-12">
    <h1>Discover Our Wildlife</h1>
    <p>
      Lone Mountain Shores has no shortage on wildlife.
      Whether it’s turkey, deer, eagles, or rabbits, there’s always something
      new to discover around the lake!
    </p>
  </div>
  <div class="col-md-6 col-xs-12">
    <img src="/assets/turkey.jpg" width="100%"/>
  </div>
</div>
<div class="row mt-3 mb-3 p-2">
  <div class="col-md-6 col-xs-12">
    <img src="/assets/winter.jpg" width="100%"/>
  </div>
  <div class="col-md-6 col-xs-12">
    <h1>Experience Our Community</h1>
    <p>
      We offer an abundance of activities to connect our community and expand
      your horizons. A few events we offer are group exercise classes,
      luncheons, and bingo! Contact us to find out more of what we offer.
    </p>
  </div>
</div>
