.homepage-image {
    width: 100%;
    height: auto;
}

.first-picture {
    position: relative;
    width: 100vw;
    margin: 0;

    .title-box {
      padding: 5px;
      position: absolute;
      left: 33%;
      top: 33%;
      height: 34%;
      width: 34%;
      background-color: rgba(255, 255, 255, 0.7);

      .title {
          font-size: xx-large;
          font-weight: bolder;
      }

      .subtitle {
          font-size: x-large;
      }
    }
}

@media only screen and (max-width: 768px) {
  .first-picture {
    .title-box {
      left: 10%;
      width: 75%;

      * {
        width: 100%;
      }

      .title {
        font-size: xx-large;
        font-weight: bolder;
      }

      .subtitle {
        font-size: x-large;
      }

    }
  }
}
