<h3 mat-dialog-title>{{event.title}}</h3>
<mat-dialog-content>
  <div class="container">
    {{event.description}}
  </div>
  <div class="row">
    <div class="col-lg-6">
      <mat-list>
        <mat-list-item>
          <h4 matLine>Start Date:</h4>
          <p matLine>
            {{event.start | date: 'medium'}}
          </p>
        </mat-list-item>
        <mat-list-item>
          <h4 matLine>End Date:</h4>
          <p matLine>
            {{event.end | date: 'medium'}}
          </p>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col-lg-6">
      <mat-list>
        <mat-list-item>
          <h4 matLine>Repeats:</h4>
          <p matLine>
            {{event.frequency | frequency}}
          </p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button [mat-dialog-close]="event">Edit Event</button>
</mat-dialog-actions>
