<div class="carousel-wrapper" [ngStyle]="carouselWrapperStyle">
  <ul class="carousel" #carousel>
    <li *ngFor="let item of items;" internalCarouselItem class="internal-carousel-item">
      <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
    </li>
  </ul>
  <ng-container *ngIf="showControls">
    <div (click)="prev()" class="previous-button" [ngStyle]="buttonStyle">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </div>
    <div (click)="next()" class="next-button" [ngStyle]="buttonStyle">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
  </ng-container>
</div>
