.carousel-wrapper {
  position: relative;
  overflow: hidden;
  background-color: lighten(black, 10);

  .carousel {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: row;
    height: 500px;

    .internal-carousel-item {
      flex: 0 0 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin: 0;

      img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
      }
    }
  }

  .next-button,
  .previous-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                supported by Chrome and Opera */
    .mat-icon {
      font-size: 50px;
      height: 50px;
      width: 50px;
    }
  }

  .next-button {
    right: 0;

    &:hover {
      background-color: lighten(black, 20);
      box-shadow: inset -2px 0 5px 5px lighten(black, 10);
    }
  }

  .previous-button {
    left: 0;

    &:hover {
      background-color: lighten(black, 20);
      box-shadow: inset 2px 0 5px 5px lighten(black, 10);
    }
  }
}
