.comment-container {
    height: 57vh;
    overflow-y: auto;
    background-color: lighten(lightgrey, 10);
    box-shadow: inset 3px 3px 10px 2px rgba(85,85,85,0.6);
    border-radius: 2px;
}

.mat-raised-button {
  color: white;
}

// .form-container {
//     box-shadow: inset 3px 0px 10px 2px rgba(85,85,85,0.6);
//     border-radius: 2px;
// }
