<div class="container p-2">
  <ng-container *ngIf="message">
    <app-message-board-post [showCommentButton]="false" [message]="message" [restrictHeight]="false"></app-message-board-post>
  </ng-container>
</div>
<div class="container p-2 comment-container" *ngIf="message">
  <ng-container *ngFor="let comment of message.comments">
    <app-chat-bubble [comment]="comment" [message]="comment.body" footerText="{{comment.timestamp | date: 'short'}}" [fixedWidth]="'90%'"></app-chat-bubble>
  </ng-container>
</div>
<div class="container p-2 form-container">
  <div class="row col">
    <mat-form-field style="width: 100%;">
      <textarea matInput placeholder="New Comment" [formControl]="commentControl"></textarea>
    </mat-form-field>
  </div>
  <div class="row justify-content-end col">
    <button mat-raised-button color="primary" (click)="submitNewComment()">Submit</button>
  </div>
</div>
