<div class="chat-container" [ngClass]="{'right': right}">
  <div
    class="chat-bubble"
    [ngClass]="{'right': right}"
    [ngStyle]="{
      'background-color': backgroundColor ? backgroundColor : 'lightgreen',
      'border-color': backgroundColor ? backgroundColor : 'lightgreen',
      'width': fixedWidth ? fixedWidth : 'auto'
    }"
  >
    <h5 *ngIf="headerText" class="chat-header">{{headerText}}</h5>
    <p class="message-body">
      {{message}}
    </p>
    <span *ngIf="footerText" class="footer">{{footerText}}</span>
    <span *ngIf="!right" class="triangle" [ngStyle]="{'color': backgroundColor ? backgroundColor : 'lightgreen'}">◀</span>
    <span *ngIf="right" class="triangle-right" [ngStyle]="{'color': backgroundColor ? backgroundColor : 'lightgreen'}">▶</span>
    <div [ngClass]="{'avatar-right': right, 'avatar': !right}">
      <img [src]="comment.author.avatar ? comment.author.avatar : '/assets/avatar-placeholder.png'" />
    </div>
    <div [ngClass]="{'username-right': right, 'username': !right}">
      <p>
        {{comment.author.first_name}} {{comment.author.last_name}}
      </p>
    </div>
    <div [ngClass]="{'icons-right': right, 'icons': !right}">
      <i *ngIf="isAdmin" class="fas fa-crown" style="color: goldenrod"></i>
    </div>
  </div>

</div>
