.chat-container {
    display: flex;
    position: relative;
    flex-direction: row;
    min-height: 120px;
    padding-left: 150px;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;

    &.right {
        padding-right: 150px;
        padding-left: 0;
        justify-content: flex-end;
    }

    .chat-bubble {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        border: solid 2px;
        border-radius: 5px;
        padding: 15px;
        position: relative;
        -webkit-box-shadow: 5px 5px 8px 0px rgba(153,153,153,1);
        -moz-box-shadow: 5px 5px 8px 0px rgba(153,153,153,1);
        box-shadow: 5px 5px 8px 0px rgba(153,153,153,1);
        z-index: initial;

        .chat-header {
            margin-top: 0;
            padding-bottom: 5px;
            margin-bottom: 15px;
            border-bottom: 1px solid darkgray;
            width: 100%
        }

        p.message-body {
            margin: 0;
            color: black;
            white-space: pre-wrap;
        }

        .footer {
            margin-top: 15px;
            align-self: flex-end;
            font-size: x-small;
        }

        .triangle {
            position: absolute;
            left: -26px;
            top: 5px;
            width: 0;
            height: 0;
            // color: lightgreen;
            font-size: xx-large;
            text-shadow: 1px 5px 8px rgba(153,153,153,1);
            z-index: -1;
        }

        .triangle-right {
            position: absolute;
            right: 2px;
            top: 5px;
            width: 0;
            height: 0;
            // color: lightgreen;
            font-size: xx-large;
            text-shadow: 5px 5px 8px rgba(153,153,153,1);
            z-index: 10;
        }

        .avatar {
            position: absolute;
            left: -103px;
            top: 0px;
            width: 50px;
            height: 50px;
            border: 3px solid black;
            border-radius: 5px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .avatar-right {
            position: absolute;
            right: -103px;
            top: 0px;
            width: 50px;
            height: 50px;
            border: 3px solid black;
            border-radius: 5px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .username {
            position: absolute;
            left: -150px;
            top: 60px;
            width: 150px;
            height: 50px;
            overflow: hidden;
            margin-top: 5px;

            p {
                text-align: center;
            }
        }

        .username-right {
            position: absolute;
            right: -150px;
            top: 60px;
            width: 150px;
            height: 50px;
            overflow: hidden;
            margin-top: 5px;

            p {
                text-align: center;
            }
        }

        .icons {
            position: absolute;
            left: -150px;
            top: 90px;
            width: 150px;
            height: 20px;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .icons-right {
            position: absolute;
            right: -150px;
            top: 90px;
            width: 150px;
            height: 20px;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
}
