<mat-card>
  <mat-card-header>
    <h2 mat-card-title>{{classified.title}}</h2>
  </mat-card-header>
  <app-carousel *ngIf="classified.attachments.length > 0" mat-card-image [timing]="'300ms ease-in-out'">
    <ng-container *ngFor="let attachment of classified.attachments;">
      <ng-container *carouselItem>
        <img src="{{attachment}}" class="classified-image">
      </ng-container>
    </ng-container>
  </app-carousel>
  <mat-card-content>
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <mat-list>
          <mat-list-item>
            <h3 matLine>Author</h3>
            <p matLine>
              {{classified.author.first_name}} {{classified.author.last_name}}
            </p>
          </mat-list-item>
          <mat-list-item>
            <h3 matLine>Home Phone</h3>
            <p matLine>
              {{classified.author.home_phone | mask:'(000) 000-0000'}}
            </p>
          </mat-list-item>
          <mat-list-item>
            <h3 matLine>Description</h3>
            <p matLine>
              {{classified.description}}
            </p>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="col-lg-6 col-sm-12">
        <mat-list>
          <mat-list-item>
            <h3 matLine>Price</h3>
            <p matLine>
              $ {{classified.price | mask: '000,000,000'}}
            </p>
          </mat-list-item>
          <mat-list-item>
            <h3 matLine>Cell Phone</h3>
            <p matLine>
              {{classified.author.cell_phone | mask:'(000) 000-0000'}}
            </p>
          </mat-list-item>
          <mat-list-item *ngIf="classified.type === 'realestate'">
            <h3 matLine>Lot Number</h3>
            <p matLine>
              {{classified.lot_number}}
            </p>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="showActions && isAuthor">
    <button mat-raised-button color="primary">Edit</button>
    <button mat-raised-button color="warn" (click)="delete()">Delete</button>
  </mat-card-actions>
</mat-card>
