.date-detail {
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 5px;
}

.spacer {
  display: flex;
  flex: 1 0 auto;
}

.button-container {
  .mat-raised-button {
    margin: 0 3px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.no-margin {
  margin: 10px 0;

  @media (min-width: 992px) {
    margin: 0;
  }
}
