<div class="container pt-2">
  <button mat-raised-button color="primary" (click)="createNewEvent()">Create New Event</button>
</div>
<div class="container">
  <h3>LMSOA Event Calendar</h3>
</div>
<div class="d-flex flex-lg-row flex-column container justify-content-between align-items-center mb-2">
  <mat-button-toggle-group [value]="currentViewFormat" [multiple]="false" (change)="changeFormat($event)">
    <mat-button-toggle value="month">
      Month View
    </mat-button-toggle>
    <mat-button-toggle value="week">
      Week View
    </mat-button-toggle>
    <mat-button-toggle value="day">
      Day View
    </mat-button-toggle>
  </mat-button-toggle-group>
  <div>
    <h3 class="no-margin">{{getHeaderText()}}</h3>
  </div>
  <div class="d-flex button-container">
    <button mat-raised-button (click)="changeViewDate('previous')" color="primary">Previous Period</button>
    <button mat-raised-button (click)="changeViewDate('today')" color="primary">Today</button>
    <button mat-raised-button (click)="changeViewDate('next')" color="primary">Next Period</button>
  </div>
</div>
<div class="container">
  <ng-container [ngSwitch]="currentViewFormat">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (beforeViewRender)="getEvents($event)"
      (dayClicked)="dayClicked($event.day)"
    ></mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="showDetails($event)"
    ></mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="showDetails($event)"
    >
    </mwl-calendar-day-view>
  </ng-container>
</div>
<div class="container date-detail" [@dayDetail]="expandedDay ? 'expanded' : 'collapsed'">
  <h3>Showing events for {{expandedDay | date: 'MMMM d, y'}}</h3>
  <app-event-card *ngFor="let calendarEvent of expandedEvents" [calendarEvent]="calendarEvent" (edit)="editEvent($event)"></app-event-card>
  <h3 *ngIf="!expandedEvents.length">No Events</h3>
</div>
