<div class="container p-2">
  <button mat-raised-button color="primary" [routerLink]="['/messages', 'create']">Create New Post</button>
</div>
<div class="container p-2">
  <cdk-virtual-scroll-viewport  style="height: 90vh" [itemSize]="225" (scrolledIndexChange)="appendMoreMessages($event)">
    <ng-container *cdkVirtualFor="let message of messages; trackBy: trackByIdx;">
      <div class="mt-2 mb-2">
        <app-message-board-post [message]="message" [showButtons]="true" (deleted)="deleteMessageBoardPost($event)"></app-message-board-post>
      </div>
    </ng-container>
    <mat-card class="message-board-post" *ngIf="isLoading$ | async">
      <mat-card-content>
        <div class="row justify-content-center align-items-center">
          <mat-spinner></mat-spinner>
        </div>
      </mat-card-content>
    </mat-card>
  </cdk-virtual-scroll-viewport>
</div>
