<div class="container p-2" *ngIf="owner">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>{{owner.first_name}} {{owner.last_name}}'s profile</h3>
      </mat-card-title>
      <div
        mat-card-avatar
        class="avatar-image"
        [ngStyle]="{'background-image': owner.avatar ? 'url(' + owner.avatar + ')' : 'url(/assets/avatar-placeholder.png)'}"
        (mouseenter)="profilePicHover = true"
        (mouseleave)="profilePicHover = false"
        (click)="avatarInput.click()"
      >
        <input hidden #avatarInput type="file" (change)="getAvatarUrl()"/>
        <ng-container *ngIf="profilePicHover">
          <div class="overlay"></div>
          <div class="text">Change Profile Picture</div>
        </ng-container>
      </div>
    </mat-card-header>
    <mat-card-content class="mt-2">
      <h3>Personal Details</h3>
      <mat-divider [inset]="true" class="mb-2"></mat-divider>
      <div class="row">
        <mat-form-field class="col-lg-6 col-sm-12">
          <input matInput placeholder="Username" [formControl]="username"/>
        </mat-form-field>
        <mat-form-field class="col-lg-6 col-sm-12">
          <input matInput placeholder="Email" [formControl]="email"/>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-lg-6 col-sm-12">
          <input matInput placeholder="First Name" [formControl]="first_name"/>
        </mat-form-field>
        <mat-form-field class="col-lg-6 col-sm-12">
          <input matInput placeholder="Last Name" [formControl]="last_name"/>
        </mat-form-field>
      </div>
      <h3>Contact Information</h3>
      <mat-divider [inset]="true" class="mb-2"></mat-divider>
      <div class="row">
        <mat-form-field class="col-lg-6 col-sm-12">
          <input matInput placeholder="Lot Number" [formControl]="lot_number"/>
        </mat-form-field>
        <mat-form-field class="col-lg-6 col-sm-12">
          <input matInput placeholder="Address" [formControl]="address"/>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-lg-6 col-sm-12">
          <input matInput placeholder="Cell Phone #" mask="(000) 000-0000" [formControl]="cell_phone"/>
        </mat-form-field>
        <mat-form-field class="col-lg-6 col-sm-12">
          <input matInput placeholder="Home Phone #" mask="(000) 000-0000" [formControl]="home_phone"/>
        </mat-form-field>
      </div>
      <h3>Miscellaneous</h3>
      <mat-divider [inset]="true" class="mb-2"></mat-divider>
      <div class="row col-12 align-items-center">
        <mat-checkbox color="primary" [formControl]="hidden">Hide Contact Information</mat-checkbox>
        <fa-icon
          [icon]="['fas', 'question-circle']"
          class="ml-2"
          matTooltip="Whether to hide contact information in Address Book for privacy reasons"
        ></fa-icon>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="updateProfile()">Save Changes</button>
      <span *ngIf="showSuccess" class="ml-2"  style="color: green;" @fade>Successfully saved!</span>
    </mat-card-actions>
  </mat-card>
</div>
