/* You can add global styles to this file, and also import other style files */

@import "~bootstrap-4-grid/scss/grid.scss";
@import '~@angular/material/theming';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@include mat-core();

$lmsoa-palette: (
    50 : #ecf1fa,
    100 : #cfddf2,
    200 : #afc7ea,
    300 : #8fb0e2,
    400 : #779fdb,
    500 : #5f8ed5,
    600 : #5786d0,
    700 : #4d7bca,
    800 : #4371c4,
    900 : #325fba,
    A100 : #ffffff,
    A200 : #ceddff,
    A400 : #9bbaff,
    A700 : #81a8ff,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$lmsoa-app-primary: mat-palette($lmsoa-palette);
$lmsoa-app-accent:  mat-palette($lmsoa-palette, A200, A100, A400);

// Create the theme object (a Sass map containing all of the palettes).
$lmsoa-app-theme: mat-light-theme($lmsoa-app-primary, $lmsoa-app-accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($lmsoa-app-theme);

// ------------- THE REST OF THE STYLES ------------------
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.shadowed {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
