<div class="row">
  <mat-form-field class="col-sm-8 col-xs-12">
    <input matInput placeholder="Event Title" [formControl]="title"/>
    <mat-error *ngIf="title.hasError('required')">
      You must have a title for your event
    </mat-error>
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field class="col-lg-12">
    <textarea rows="6" matInput placeholder="Event Description" [formControl]="description"></textarea>
    <mat-error *ngIf="description.hasError('required')">
      You must have a description for your event
    </mat-error>
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field class="col-sm-6 col-xs-12">
    <ng-container *ngIf="isMobile">
      <input
        matInput
        placeholder="Start Date"
        [matDatepicker]="mobileStartPicker"
        [formControl]="start_date"
        [min]="minDate"
        (focus)="mobileStartPicker.open()"
      />
      <mat-datepicker #mobileStartPicker touchUi></mat-datepicker>
    </ng-container>
    <ng-container *ngIf="!isMobile">
      <input
        matInput
        placeholder="Start Date"
        [matDatepicker]="startDatepicker"
        [formControl]="start_date"
        [min]="minDate"
        (focus)="startDatepicker.open()"
      />
      <mat-datepicker #startDatepicker></mat-datepicker>
    </ng-container>
    <mat-error *ngIf="start_date.hasError('required')">
      You must have a start date for your event
    </mat-error>
  </mat-form-field>
  <mat-form-field class="col-sm-6 col-xs-12">
    <input
      matInput
      placeholder="Start Time"
      [ngxTimepicker]="startTimepicker"
      [formControl]="start_time"
      [min]="minDate"
    >
    <ngx-material-timepicker #startTimepicker></ngx-material-timepicker>
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field class="col-sm-6 col-xs-12">
    <ng-container *ngIf="isMobile">
      <input
        matInput
        placeholder="End Date"
        [matDatepicker]="mobileEndPicker"
        [formControl]="end_date"
        [min]="start_date.value"
        (focus)="mobileEndPicker.open()"
      />
      <mat-datepicker #mobileEndPicker touchUi></mat-datepicker>
    </ng-container>
    <ng-container *ngIf="!isMobile">
      <input
        matInput
        placeholder="End Date"
        [matDatepicker]="endDatepicker"
        [formControl]="end_date"
        [min]="start_date.value"
        (focus)="endDatepicker.open()"
      />
      <mat-datepicker #endDatepicker></mat-datepicker>
    </ng-container>
    <mat-error *ngIf="end_date.hasError('required')">
      You must have an end date for your event
    </mat-error>
    <mat-error *ngIf="end_date.hasError('matDatepickerMin')">
      The end date for your event must be after the start date
    </mat-error>
  </mat-form-field>
  <mat-form-field class="col-sm-6 col-xs-12">
    <input
      matInput
      placeholder="End Time"
      [ngxTimepicker]="endTimepicker"
      [formControl]="end_time"
      [min]="start_time.value"
    >
    <ngx-material-timepicker #endTimepicker></ngx-material-timepicker>
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field class="col-sm-6 col-xs-12">
    <mat-select placeholder="Event Frequency" [formControl]="frequency">
      <mat-option [value]="-1">None</mat-option>
      <mat-option [value]="3">Daily</mat-option>
      <mat-option [value]="2">Weekly</mat-option>
      <mat-option [value]="1">Monthly</mat-option>
      <mat-option [value]="0">Yearly</mat-option>
    </mat-select>
    <mat-error *ngIf="frequency.hasError('required')">
      You must specify how often your event repeats
    </mat-error>
  </mat-form-field>
</div>
<div class="row button-row">
  <div class="col-lg-12">
    <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      (click)="submit()"
    >
      {{this.event ? 'Edit' : 'Create'}} Event
    </button>
  </div>
</div>
