<div class="container p-2">
  <button mat-raised-button color="primary" *ngIf="isLoggedIn" [routerLink]="['/classifieds', 'create']">Create Listing</button>
</div>
<div class="container p-2">
  <div class="mt-2 mb-2" *ngFor="let classified of classifieds">
    <app-classified [classified]="classified" class="m-2" (deleted)="removeClassified($event)"></app-classified>
  </div>
</div>
